$wait-backround-colour: #FFEEBD;
$wait-input-border: #DE7339;
$send-button-colour: rgb(124, 182, 86);
$input-container-colour: rgb(249, 245, 245);


.wait {
  flex-direction: column;

  @media (max-width: 750px) {
    padding: 1rem;  
  }

  @media (min-width: 950px) {
    flex-direction: row;
  }

  h1 {
    margin-bottom: 0.5rem;
    font-size: 3rem;

    @media (max-width: 750px) {
      font-size: 2rem;
    }
  }

  .link-container{
    margin: 20px 0px;
    max-width: 400px;
    @media (max-width: 600px) {
      max-width: 300px;
    }
    @media (max-width: 400px) {
      max-width: 250px;
    }
  }

  .copy-link {
    background: none;
    cursor: pointer;
    border: none;
    color:rgb(238, 238, 238);
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 10px;
    &:hover {
      transform: scale(105%);
    }

    @media (max-width: 500px) {
      font-size: 1rem;
    }
    @media (max-width: 400px) {
      font-size: 0.8rem;
    }
  }

  .input-container {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    background-color: $input-container-colour;
    border-radius: 10px;

    @media (max-width: 500px) {
      width: 100%;
    }

    .message-container {
      display: flex;
      flex-direction: column;
      height: 250px;
      overflow-y: auto;
      background-color: #fff;
      border: 1px solid #dee2e6;
      border-radius: 5px;
      padding: 0.5rem;
      margin-bottom: 5px;
      width: 450px;
      @media (max-width: 600px) {
        width: 300px;
      } 
      @media (max-width: 500px) {
        width: 100%;
      }
      @media (min-width: 1200px) {
        width: 600px;
        height: 450px;
      }
      .message-item {
        margin: 0.5rem 0;
      }
    }
    .message-input {
      border: 1px solid rgb(178, 178, 178);
      border-radius: 30px;
      padding: 5px 20px;
  
      &:focus {
        border-color: #F6BD5A;
        outline: none;
        box-shadow: 0 0 5px rgba(246, 189, 90, 0.6);
      }
    }

    .send-button {
      padding: 0.5rem 1rem;
      font-size: 1rem;
      color: #fff;
      background-color: $send-button-colour
    ;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      margin-top: 0.5rem;

      &:hover {
        background-color: $send-button-colour;
      }
    }
  }
}

